body {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: rgb(9, 105, 137);
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 4px 5px;
    font-size: 20px;
    align-items: center;
    color: white;
}

.navbar ul{
    display: flex;
    gap:60px;
  font-size: 20px;
  list-style: none;
    
}

.hero {
    background-color: lightblue;
    display: flex;
     gap: 50px;   
     justify-content: space-around;
     align-items: center;
}

.hero img {
    height: 400px;
}